<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240320499134-i8tjr5t649crq210qqjlheskpsbv5u5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240320499134-i8tjr5t649crq210qqjlheskpsbv5u5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCrPC7Hct-NPjqNYd_VxK_HtvW_s_jNqq8</string>
	<key>GCM_SENDER_ID</key>
	<string>240320499134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.tetravivlosapp735584</string>
	<key>PROJECT_ID</key>
	<string>tetravivlos-30d1e</string>
	<key>STORAGE_BUCKET</key>
	<string>tetravivlos-30d1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240320499134:ios:6ec347eaa9fa731c04fdef</string>
	<key>DATABASE_URL</key>
	<string>https://tetravivlos-30d1e.firebaseio.com</string>
</dict>
</plist>